h1 {
    color : white ;
}

body {
background-color:#000000;
}
.grid-container {
  /* グリッドコンテナ */
  display: grid;
  /* 最小100px、最大1frの列を繰り返しつくる */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item  {
  width: 88%;
  float: left;
}
